*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


  :root{
    /** Color Palette */
    --color-primary: #672280;
    --color-secodary: #A626D3;
    --color-accent: #ffffff;

    /** Typography */
    /* Fonts */
    --ff-main: 'Inter', sans-serif;

    /* Font-size */
    --fs-base: 16px;
  }

  main{
    display: flex;
    flex-direction: column;
    gap: 20px
  }

  /* HEADER */
  
  .header{
    height: 65px;
    display: flex;
    align-items: center;
    background: rgb(103,34,128);
    font-family: var(--ff-main);
    padding: 0px 20px;
    background: linear-gradient(90deg,
        var(--color-primary),
        var(--color-secodary)
    );
  }

  .header__image{
    width: 31.31px;
    height: 26.22px;
  }

  .header__title{
    font-size: 1.297rem;
    color: var(--color-accent);
    margin-right: auto;
    margin-left:8px;
  }

  .header__sub-title{
    color: var(--color-accent);
    font-size: 0.75rem;
  }

  /* FORM */

  .form--flex{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns:repeat(2, 100px);
  }

  .form--grid{
    width: 90%;
    max-width: 700px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap:5px;
  }

  .form__button{
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
  }

  /* MEME */

  .meme{
    display: flex;
    justify-content: center;
    position: relative;
    align-self: center;
    justify-self: center;
  }

  .meme__image{
    width: 90%;
    max-width: 700px;
  }

  .meme__text{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
  }

  .meme__text--bottom{
    bottom: 0;
  }
